// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    display: flex;
    flex-direction: column;

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq($tablet) {
      flex-direction: row;

      .grid__col-- {
        &12 {@include row-just-margin(space-around);}
        &7.centered {@include row-just-margin(center);}
      }
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {
        @include flex-column(100%);
        // base styles applied to all grid columns 
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        // NOTE: replace with media query mixin if aiming for exceeds
        @media (min-width: $tablet) {
          text-align: justify;
          // base styles applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

@include mq($tablet) {
  .container {
    width: 90%;
    margin-left: 5%;
  }
}

//---Grid Colors---//
.grid__col-- {
  &12.theme__colors {@include grid-styles($primary-color);}
  &6.theme__colors {@include grid-styles($color-col-6);}
  &4.theme__colors {@include grid-styles($color-col-4);}
  &3.theme__colors {@include grid-styles($color-col-3);}
  &5.theme__colors {@include grid-styles($color-col-5);}
  &8.theme__colors {@include grid-styles($color-col-8);}
  &7.theme__colors {@include grid-styles($color-col-7);}
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {
    // NOTE: replace with media query mixin if aiming for exceeds
    @media (min-width: $tablet) {
      // add grid gutter
      margin-left: 10px;
    }
  }
}